hr {
  display: none;
  width: 60%;
}

.externalLink {
  width: 25%;
  padding: 10px;
  margin: 2% 5% 0 5%;
  text-align: center; 
  font-family: 'League Spartan', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  transition: all 0.2s;
  text-decoration: none;
}

.externalLink:hover {
  color: black;
  background: white;
}

.externalLinkContainer {
  display: flex;
  flex-flow: row;
  margin-top: 5%;
}

@media only screen and (max-width: 848px) {
  .index h1 {
    margin-bottom: 2rem;
    font-size: 10vw;
    line-height: 1.1em;
    margin-top: 1%;
  }
  .index p {
    display: none;
  }
  .externalLinkContainer  {
    margin-top: 15% 5%;
    flex-flow: column
  }
  .externalLink {
    width: 100%;
    margin: 2% 0;
    padding: 8%;
    font-size: 8vw;
  }
} 

@media only screen and (max-width: 480px) {
  .index h1 {
    font-size: 25vw;
  }
  .externalLink {
    padding: 7%;
  }
} 